
<ion-header>

</ion-header>
<ion-content>
<ion-slides pager="true" *ngIf="!introEnd">
  <ion-slide>
    <h2>Comment jouer ?</h2>
    <p class="introContent">Lisez la question à haute voix sans lire la réponse. <br> Passez ensuite le jeu aux autres joueurs.</p>
    <img src="assets/imgs/tuto-1.png" style="width: 225px" alt="">
    <button class="skipBtn"(click)="introEnd = true; getRandom()" bottom center ion-button full clear>P<span class="skipBtnTxt">asser l'intro</span></button>
  </ion-slide>
  <ion-slide>
    <h2>Comment jouer ?</h2>
    <p class="introContent">Tour à tour, les autres joueurs lisent la réponse. Ils peuvent décider de l'annoncer ou d'en inventer une fausse !</p> 
    <img src="assets/imgs/tuto2.png" style="width: 350px" alt="">
    <button class="skipBtn" (click)="introEnd = true; getRandom()" bottom center ion-button full clear>P<span class="skipBtnTxt">asser l'intro</span></button>
  </ion-slide>
  <ion-slide>
    <h2>Comment jouer ?</h2>
    <p class="introContent">&Agrave; vous de deviner qu'elle est la vraie réponse !</p>
    <img src="assets/imgs/tuto-3.png" style="width: 225px" alt="">
    <button class="skipBtn" (click)="introEnd = true; getRandom()" bottom center ion-button full clear>C<span class="skipBtnTxt">'est parti !</span></button>
  </ion-slide>
</ion-slides>


 <ion-grid *ngIf="introEnd; randomCard">
  <ion-slides *ngIf="randomCard" (ionSlideWillChange)="getRandom()">
    <ion-slide *ngFor="let card of cards">
      <ion-col class="answerbtn" *ngIf="randomCard">
        <ion-card>
          <ion-card-content>
            <ion-row class="question">
              {{randomCard.question}}
            </ion-row>
            <ion-col class="devider">
            </ion-col>
            <ion-row class="answer ; fadeIn" *ngIf="randomCard && answerVisible">
                <ion-col col-12>{{randomCard.answer}}</ion-col>
                <ion-col col-12><p class="moreInfo">{{randomCard.hint}}</p></ion-col>
            </ion-row>            
            <ion-col class="devider">
            </ion-col>
            <ion-row class="answerbtn">
              <button bottom center ion-button full clear (click)="answerVisible = !answerVisible">
                <span *ngIf="!answerVisible">Voir la réponse</span>
                <span *ngIf="answerVisible">Masquer la réponse</span>
              </button>
            </ion-row>
          </ion-card-content>
       </ion-card>
      </ion-col>
    </ion-slide> 
  </ion-slides>

  <ion-fab bottom center>
    <button ion-fab (click)="getRandom(); answerVisible = false; startText = 'Nouvelle carte';"><ion-icon name="add"></ion-icon>
          </button>
  </ion-fab>

  </ion-grid>




</ion-content>